---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/above/39.6431/-104.8987/0/15/0/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"category\":\"ANY\",\"transactionscount\":24,\"satcount\":23},\"above\":[{\"satid\":837,\"satname\":\"OPS
        3674 (VELA 4)\",\"intDesignator\":\"1964-040B\",\"launchDate\":\"1964-07-17\",\"satlat\":41.1195,\"satlng\":-94.8688,\"satalt\":115790.5949},{\"satid\":9595,\"satname\":\"COSMOS
        878\",\"intDesignator\":\"1976-118H\",\"launchDate\":\"1976-12-07\",\"satlat\":40.6009,\"satlng\":-106.4883,\"satalt\":1475.8438},{\"satid\":9921,\"satname\":\"SL-6
        R\\/B(2)\",\"intDesignator\":\"1977-027D\",\"launchDate\":\"1977-04-11\",\"satlat\":36.3555,\"satlng\":-91.1425,\"satalt\":30506.3779},{\"satid\":10925,\"satname\":\"MOLNIYA
        1-40\",\"intDesignator\":\"1978-055A\",\"launchDate\":\"1978-06-02\",\"satlat\":34.4468[...]
