---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/above/39.6431/-104.8987/0/15/0/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"category\":\"ANY\",\"transactionscount\":46,\"satcount\":17},\"above\":[{\"satid\":737,\"satname\":\"RELAY
        2\",\"intDesignator\":\"1964-003A\",\"launchDate\":\"1964-01-21\",\"satlat\":33.4719,\"satlng\":-100.2374,\"satalt\":7385.0546},{\"satid\":738,\"satname\":\"DELTA
        1 R\\/B\",\"intDesignator\":\"1964-003B\",\"launchDate\":\"1964-01-21\",\"satlat\":41.622,\"satlng\":-110.6007,\"satalt\":7584.7933},{\"satid\":837,\"satname\":\"OPS
        3674 (VELA 4)\",\"intDesignator\":\"1964-040B\",\"launchDate\":\"1964-07-17\",\"satlat\":42.6704,\"satlng\":-113.1669,\"satalt\":118486.994},{\"satid\":3695,\"satname\":\"COSMOS
        249 DEB\",\"intDesignator\":\"1968-091AL\",\"launchDate\":\"1968-10-20\",\"satlat\":40[...]
