---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<open_key>&exclude=minutely,hourly&lat=33.44&lon=-94.04
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1663793374,"sunrise":1663761817,"sunset":1663805693,"temp":308.44,"feels_like":310.6,"pressure":1014,"humidity":39,"dew_point":292.38,"uvi":3.95,"clouds":0,"visibility":10000,"wind_speed":3.13,"wind_deg":247,"wind_gust":5.36,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1663783200,"sunrise":1663761817,"sunset":1663805693,"moonrise":1663746300,"moonset":1663798920,"moon_phase":0.86,"temp":{"day":308.16,"min":295.37,"max":308.59,"night":299.74,"eve":305.28,"morn":295.37},"feels_like":{"day":309.52,"night":299.74,"eve":305.99,"morn":295.55},"pressure":1015,"humidity":37,"dew_point":291.3,"wind_speed":2.25,"wind_deg":193,"wind_gust":2.58,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":7.8},{"dt":1663869600,"sunrise":1663848257,"sunset":1663892009,"moonrise":1663836300,"moonset":1663887300,"moon_phase":0.9,"temp":{"day":307.97,"min":295.53,"max":309.68,"night":298.46,"eve":303.09,"morn":295.53},"feels_like":{"day":307.99,"night":298.12,"eve":302.77,"morn":295.39},"pressure":1015,"humidity":32,"dew_point":289.06,"wind_speed":5.69,"wind_deg":75,"wind_gust":12.38,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":[...]
