version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    working_directory: ~/messages-from-the-stars-fe
    docker:
      - image: circleci/ruby:2.7.4
        environment:
          PGHOST: localhost
          PGUSER: messages-from-the-stars-fe
          RAILS_ENV: test
      - image: postgres:14.4
        environment:
          POSTGRES_USER: messages-from-the-stars-fe
          POSTGRES_DB: messages-from-the-stars-fe_test
          POSTGRES_PASSWORD:
    steps:
      - checkout
      - run:
          name: messages-from-the-stars-fe
          command: bundle -v
      - ruby/bundle-install

      - checkout
      - run: bundle install --path vendor/bundle
      - run: bundle exec rails db:migrate
      - run: bundle exec rspec

      - checkout
      - run:
          name: Deploy Main to Heroku
          command: git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main
