---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.160.93/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.160.93",
          "city": "New York City",
          "region": "New York",
          "country": "US",
          "loc": "40.7143,-74.0060",
          "org": "AS22252 The City of New York",
          "postal": "10004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 22 Sep 2022 20:26:39 GMT
- request:
    method: get
    uri: https://messages-from-the-stars-be.herokuapp.com/api/v1/users/find_or_create_user?name=John%20Smith&username=john@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b09e4230e05d2ea369742aedb503708"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"44","type":"user","attributes":{"name":"John Smith","username":"john@example.com"}}}'
  recorded_at: Thu, 22 Sep 2022 20:26:39 GMT
[...]
- request:
    method: get
    uri: https://messages-from-the-stars-be.herokuapp.com/api/v1/satellites/find_by_user_id?user_id=44
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Thu, 22 Sep 2022 20:26:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<open_key>&exclude=minutely,hourly&lat=40.7143&lon=-74.006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7143,"lon":-74.006,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1663878394,"sunrise":1663843410,"sunset":1663887242,"temp":292.48,"feels_like":292.32,"pressure":1002,"humidity":71,"dew_point":287.09,"uvi":1.47,"clouds":0,"visibility":10000,"wind_speed":6.71,"wind_deg":312,"wind_gust":9.39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1663862400,"sunrise":1663843410,"sunset":1663887242,"moonrise":1663830180,"moonset":1663883340,"moon_phase":0.89,"temp":{"day":294.51,"min":287.94,"max":298.83,"night":287.94,"eve":293.26,"morn":293.85},"feels_like":{"day":294.74,"night":286.96,"eve":292.92,"morn":294.12},"pressure":1002,"humidity":78,"dew_point":290.52,"wind_speed":9.19,"wind_deg":306,"wind_gust":14.08,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":73,"pop":1,"rain":16.82,"uvi":2.45},{"dt":1663948800,"sunrise":1663929868,"sunset":1663973540,"moonrise":1663920420,"moonset":1663971240,"moon_phase":0.93,"temp":{"day":287.82,"min":283.25,"max":290.62,"night":285.55,"eve":289.23,"morn":283.67},"feels_like":{"day":286.31,"night":284.05,"eve":287.76,"morn":282.29},"pressure":1014,"humidity":37,"dew_point":273.05,"wind_speed":9.14,"wind_deg":328,"wind_gust":13.42,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":5,"pop":0[...]
