---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.160.93/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.160.93",
          "city": "New York City",
          "region": "New York",
          "country": "US",
          "loc": "40.7143,-74.0060",
          "org": "AS22252 The City of New York",
          "postal": "10004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 22 Sep 2022 17:05:00 GMT
- request:
    method: get
    uri: https://messages-from-the-stars-be.herokuapp.com/api/v1/users/find_or_create_user?name=John%20Smith&username=john@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b09e4230e05d2ea369742aedb503708"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"44","type":"user","attributes":{"name":"John Smith","username":"john@example.com"}}}'
  recorded_at: Thu, 22 Sep 2022 17:05:00 GMT
[...]
- request:
    method: get
    uri: https://messages-from-the-stars-be.herokuapp.com/api/v1/satellites/find_by_user_id?user_id=44
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Thu, 22 Sep 2022 17:05:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<open_key>&exclude=minutely,hourly&lat=40.7143&lon=-74.006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7143,"lon":-74.006,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1663866300,"sunrise":1663843410,"sunset":1663887242,"temp":292.08,"feels_like":292.17,"pressure":1003,"humidity":82,"dew_point":288.94,"uvi":0.63,"clouds":100,"visibility":10000,"wind_speed":10.8,"wind_deg":310,"wind_gust":14.4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1663862400,"sunrise":1663843410,"sunset":1663887242,"moonrise":1663830180,"moonset":1663883340,"moon_phase":0.89,"temp":{"day":292.77,"min":287.94,"max":296.01,"night":287.94,"eve":293.99,"morn":293.85},"feels_like":{"day":292.9,"night":286.91,"eve":293.44,"morn":294.12},"pressure":1003,"humidity":81,"dew_point":289.42,"wind_speed":8.48,"wind_deg":327,"wind_gust":14.52,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":96,"pop":1,"rain":7.63,"uvi":2.78},{"dt":1663948800,"sunrise":1663929868,"sunset":1663973540,"moonrise":1663920420,"moonset":1663971240,"moon_phase":0.93,"temp":{"day":287.78,"min":283.06,"max":291.07,"night":285.66,"eve":289.81,"morn":283.35},"feels_like":{"day":286.26,"night":284.12,"eve":288.31,"morn":281.91},"pressure":1014,"humidity":37,"dew_point":273.16,"wind_speed":9,"wind_deg":331,"wind_gust":14.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":6,"pop":0,"uv[...]
