---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/22195/39.739/104.990/0/1?apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"LAGEOS 2\",\"satid\":22195,\"transactionscount\":66},\"positions\":[{\"satlatitude\":26.32028263,\"satlongitude\":-104.61853429,\"sataltitude\":5947.01,\"azimuth\":27.81,\"elevation\":-41.28,\"ra\":215.47297383,\"dec\":5.24494911,\"timestamp\":1663792964,\"eclipsed\":false}]}"
  recorded_at: Wed, 21 Sep 2022 20:42:44 GMT
recorded_with: VCR 6.1.0
