---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/above/39.6431/-104.8987/0/15/0/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"category\":\"ANY\",\"transactionscount\":64,\"satcount\":16},\"above\":[{\"satid\":837,\"satname\":\"OPS
        3674 (VELA 4)\",\"intDesignator\":\"1964-040B\",\"launchDate\":\"1964-07-17\",\"satlat\":41.9591,\"satlng\":-104.328,\"satalt\":117204.812},{\"satid\":7174,\"satname\":\"DELTA
        1 DEB\",\"intDesignator\":\"1973-086EL\",\"launchDate\":\"1973-11-06\",\"satlat\":38.0408,\"satlng\":-102.4594,\"satalt\":1760.9024},{\"satid\":9656,\"satname\":\"COSMOS
        886 DEB\",\"intDesignator\":\"1976-126N\",\"launchDate\":\"1976-12-27\",\"satlat\":39.5534,\"satlng\":-107.9931,\"satalt\":1443.6734},{\"satid\":9921,\"satname\":\"SL-6
        R\\/B(2)\",\"intDesignator\":\"1977-027D\",\"launchDate\":\"1977-04-11\",\"satlat\":46.98[...]
