---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/22195/39.739/104.990/0/1/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"LAGEOS 2\",\"satid\":22195,\"transactionscount\":40},\"positions\":[{\"satlatitude\":-52.21160398,\"satlongitude\":-1.5093081,\"sataltitude\":5662.14,\"azimuth\":230.03,\"elevation\":-56.67,\"ra\":301.53799607,\"dec\":-53.72966428,\"timestamp\":1663797830,\"eclipsed\":false}]}"
  recorded_at: Wed, 21 Sep 2022 22:03:50 GMT
recorded_with: VCR 6.1.0
