---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/22195/39.739/104.990/0/1?apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"LAGEOS 2\",\"satid\":22195,\"transactionscount\":25},\"positions\":[{\"satlatitude\":37.88482747,\"satlongitude\":-116.14083051,\"sataltitude\":5955.25,\"azimuth\":31.35,\"elevation\":-30.25,\"ra\":205.82733371,\"dec\":14.32383896,\"timestamp\":1663792331,\"eclipsed\":false}]}"
  recorded_at: Wed, 21 Sep 2022 20:32:11 GMT
recorded_with: VCR 6.1.0
