<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
      <a class="navbar-brand" href="/"> Messages from the Stars</a>
        <li><a href="/users/dashboard"><span class="glyphicon glyphicon-user"></span> Control Center</a></li>
        <li><a href="/users/discover"><span class="glyphicon glyphicon-globe"></span> Scan the Skies</a></li>
        <li><a href="/about"><span class="glyphicon glyphicon-education"></span> About Page</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>