<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Messages from the Stars</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg_landing">
  <p class="py-5 text-center"></p>
    <div class="landing_container_body">
      <p>Catch a satellite</p>
      <p>Create a message</p>
      <p>Cast your message into the cosmic ocean</p>
      <p>Log in to begin exploring the skies</p>
    </div>
    <div class="landing_container_login">
      <h1><%= link_to 'Log In', '/auth/google_oauth2', class: 'link_text' %></h1>
    </div>
</div>
</body>
</html>