<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Messages from the Stars</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg_landing">
  <div class="logo">
    <div class="landing_header">
      <p class="text_formating">MESSAGES</p>
    </div>
    <div class="landing_subheader">
      <p class="text_formating">FROM </p>
      <p class="text_formating">THE</p>
    </div>
    <div class="landing_stars">
      <p class="text_formating">STARS</p>
    </div>
  </div>

    <div class="landing_container_body text_formating">
      <p class="text_formating">Catch a satellite</p>
      <p class="text_formating">Create a message</p>
      <p class="text_formating">Cast your message into the cosmic ocean</p>
      <p class="text_formating">Log in to begin exploring the skies</p>
    </div>
    <div class="landing_container_login">
      <p><%= link_to 'Log In', '/auth/google_oauth2', class: 'link_text' %></p>
    </div>
</div>
</body>
</html>