<center>
<h1>Messages from the Stars<h1><br>
<p>Catch a satellite</p>
<p>Create a message</p>
<p>Cast your message into the cosmic ocean</p>
<p>Log in via Google to begin exploring the skies</p>
<center>