---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/1/20.1/-70.99/3500/10?apiKey=space_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"SL-1 R\\/B\",\"satid\":1,\"transactionscount\":2},\"positions\":[{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false},{\"satlatitude\":0,\"satlongitude\":0,\"sataltitude\":0,\"azimuth\":0,\"elevation\":0,\"ra\":0,\"dec\":0,\"timestamp\":0,\"eclipsed\":false}]}"
  recorded_at: Thu, 15 Sep 2022 22:56:36 GMT
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/25544/39.55/39.55/-104.96/70?apiKey=space_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"SPACE STATION\",\"satid\":25544,\"transactionscount\":7},\"positions\":[{\"satlatitude\":51.07006669,\"satlongit[...]
[...]
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/25544////?apiKey=space_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"error\":\"Incorrect number of parameters\"}"
  recorded_at: Thu, 15 Sep 2022 23:32:28 GMT
recorded_with: VCR 6.1.0
