---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/visualpasses//39847/39.6431/-104.8987/0/7/300/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satid\":39847,\"satname\":\"SL-16 DEB\",\"transactionscount\":47,\"passescount\":13},\"passes\":[{\"startAz\":344.98,\"startAzCompass\":\"NNW\",\"startEl\":0.24,\"startUTC\":1663811425,\"maxAz\":59.96,\"maxAzCompass\":\"NE\",\"maxEl\":34.96,\"maxUTC\":1663811860,\"endAz\":134.48,\"endAzCompass\":\"SE\",\"endEl\":16.03,\"endUTC\":1663812300,\"mag\":100000,\"duration\":655,\"startVisibility\":1663811425},{\"startAz\":324.86,\"startAzCompass\":\"NW\",\"startEl\":0.16,\"startUTC\":1663817585,\"maxAz\":256.66,\"maxAzCompass\":\"W\",\"maxEl\":28.47,\"maxUTC\":1663818005,\"endAz\":187.99,\"endAzCompass\":\"S\",\"endEl\":23.97,\"endUTC\":1663818430,\"mag\":100000,\"duration\":520,\"startVisibility\":1663817585},{\"startAz\":348.87,\"startAzCompass\":\"N\",\"startEl\":0.26,\"startUTC\":1663895725,\"maxAz\":56.41,\"maxAzCompass\":\"NE\",\"maxEl\":23.27,\"maxUTC\":1663896140,\"endAz\":122.31,[...]
