---
http_interactions:
- request:
    method: get
    uri: https://api.n2yo.com/rest/v1/satellite/positions/22195/39.739/104.990/0/1/&apiKey=<n2yo_Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<n2yo_Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"info\":{\"satname\":\"LAGEOS 2\",\"satid\":22195,\"transactionscount\":39},\"positions\":[{\"satlatitude\":-49.30876455,\"satlongitude\":-37.00009253,\"sataltitude\":5712.24,\"azimuth\":238,\"elevation\":-71.37,\"ra\":276.08303349,\"dec\":-47.39270248,\"timestamp\":1663796929,\"eclipsed\":false}]}"
  recorded_at: Wed, 21 Sep 2022 21:48:49 GMT
recorded_with: VCR 6.1.0
