body, html {
    height: 100%;
}

.landing_container_header {
  padding: 80px 100px;
  text-align: center;
}

.landing_container_body {
  padding: 320px 100px;
  text-align: center;
  color: white;
}

.landing_container_login {
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  }

.bg_landing {
  background-image: url("./landing_page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link_text {
  color: white;
          &:hover {
            color: rgb(0, 201, 247);
  }
}

.bg_satshow {
  background-image: url("./satellite_show_page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.satshow_container {
  padding: 40px 40px;
  display: inline-grid;
  align-items: baseline;
}

.vis_container {
 width: auto;
 height: auto;
 opacity: .7;
          color: rgb(255, 255, 255);
          }


.sat_dropdown {
  display: inline-block;
  text-align: center;
}

.sat_info {
  padding-bottom: 2px;
}

.satdropdown-content {
  display: none;
  position: absolute;
  background-color: #4d4ae6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.sat_dropdown:hover .satdropdown-content {
  display: block;
}

.satpop_container {
  padding: 10px 10px;
  display: inline-grid;
  align-items: baseline;
}

.sat_headers {
  background: rgb(38, 48, 104);
  background-size:  contain;
  border-radius: 5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.bg_dashboard {
    background-image: url("./dashboard_page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard_container_header {
  padding: 60px 100px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.dashboard_container_body {
    padding: 45px 100px;
    text-align: center;
    color: white;
    font-size: 26px;
}

.link_disc {
  color: rgb(212, 206, 18);
    &:hover {
      color: rgb(0, 201, 247);
    }
    font-size: 32px;
}

.bg_discover {
    background-image: url("./dis_other.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover_container_header {
    padding: 30px 100px;
    text-align: center;
    color: white;
    font-size: 32px;
}

.col-md-6 {
  color: rgb(255, 255, 255);
  padding: 10px 100px;
  text-align: center;
  font-size: 18px
}

.discover-button {
  color: black
}

.new_message_container {
  padding: 50px 100px;
  text-align: center;
  color: white;
}

.new_message_form {
  padding: 165px 100px;
  text-align: center;
}

.bg_new_message {
  background-image: url("./create_message.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: rgb(14, 22, 56);
  color: rgb(176, 193, 255);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@import "bootstrap";
