body, html {
  height: 100%;
}

.landing_container_header {
  padding: 80px 100px;
  text-align: center;
}

.landing_container_body {
  padding: 320px 100px;
  text-align: center;
  color: white;
}

.landing_container_login {
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  }

.bg_landing {
  background-image: url("./landing_page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link_text {
  color: white;
          &:hover {
          color: rgb(0, 201, 247);
          }
}

.new_message_container {
  padding: 320px 100px;
  text-align: center;
  color: white;
}

.bg_new_message {
  background-image: url("./create_message.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import "bootstrap";
