body, html {
    height: 100%;
    color: #000;
    background-color: #000;
}

@font-face {
  font-family: 'Iceland';
  src: url('Iceland-Regular.ttf');
}

.logo {
  width: 100%;
  margin:  0 auto 0 auto;
  // background-image: url("./landing_final.jpg");
}

.text_formating {
  margin: -25px;
}

.landing_header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 94px;
    font-family: "Iceland";
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);

}

.landing_subheader {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-family: "Iceland";
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.landing_stars {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 94px;
    font-family: "Iceland";
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.landing_container_body {
  padding: 50px 100px;
  padding-bottom: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-style: italic;
  font-family: "Iceland";
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
  font-size: 50px;
}

.landing_container_login {
  padding: 100px 0px 100px 0px;
  text-align: center;
  text-decoration: none;
  font-family:"Iceland", Times, serif;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
  font-size: 52px;
  }

.bg_landing {
  background-image: url("./landing_final.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  // background-color: black;
}

.link_text {
  color: white;
          &:hover {
            color: rgb(0, 201, 247);
  }
}

.bg_satshow {
  background-image: url("./satellite_show_page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Iceland";
  color: white;
}

.satshow_header {
  padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
    font-size: 52px;
    color: white;
}

.satshow_container {
  padding: 30px 30px;
  justify-content: center;
  display: inline-grid;
  align-items: baseline;
  font-family: "Iceland";
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.satshow_center {
  margin-left: 50px;
}

.vis_container {
  width: auto;
  height: auto;
  opacity: .7;
  color: rgb(255, 255, 255);
  font-family: "Iceland";
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.sat_dropdown {
  display: inline-block;
    font-family: "Iceland";
      text-align: center;
      font-size: 24px;
      text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.sat_info {
  padding-bottom: 2px;
}

.satdropdown-content {
  display: none;
  position: absolute;
  background-color: #4d4ae6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 8px;
  z-index: 1;
  font-family: "Iceland";
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
}

.sat_dropdown:hover .satdropdown-content {
  display: block;
}

.satpop_container {
  padding: 5px 10px;
  // display: inline-grid;
  // align-items: baseline;
  font-family: "Iceland";
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.sat_headers {
  background: rgb(38, 48, 104);
  background-size:  contain;
  border-radius: 5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Iceland";
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
  font-size: 24px;
  color: white;
}

.satshow_button {
    padding: 10px 100px;
      text-align: center;
      color: white;
      font-size: 24px;
      font-family: "Iceland", Times, serif;
      text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.message_font {
  font-size: 20px;
  text-align: center;
}

.bg_dashboard {
    background-image: url("./dashboard_page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.dashboard_header {
    font-size: 92px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.dashboard_container_subheader {
    font-size: 52px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.dashboard_container_body {
    padding: 10px 100px;
    padding-bottom: 10px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.col-md-4 {
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    font-size: 22px;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}


.col-sm-4 {
  text-align: center;
  font-family: "Iceland", Times, serif;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
  font-size: 16px;
}

.bg_discover {
    background-image: url("./dis_other.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover_container_header {
    text-align: center;
    color: white;
    font-size: 62px;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.discover_container_subheader {
  padding: 0px 100px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: "Iceland", Times, serif;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.col-md-6 {
  color: rgb(255, 255, 255);
  padding: 5px 50px;
  text-align: center;
  font-size: 22px;
  font-family: "Iceland";
}

.discover-button {
  color: black
}

.new_message_container {
  padding: 50px 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 52px;
      font-family: "Iceland", Times, serif;
        text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.new_message_form {
  padding: 250px 100px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
        font-family: "Iceland", Times, serif;
}

.bg_new_message {
  background-image: url("./create_message.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_view_message {
  background-image: url("./message_view.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.view_message_header {
  padding: 40px 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 52px;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}


.view_message_body {
  padding: 0px 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-family: "Iceland", Times, serif;
  text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.view_sub_body {
  padding: 0px 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.content {
  padding: 20px 50px;
}

.lat_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start {
  padding-top: 50px;
  padding-bottom: 50px;
  // text-align: left;
}

.current {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}

.message_map {
  padding-bottom: 50px;
  text-align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 550px;
  background-color: rgb(14, 22, 56);
  color: rgb(176, 193, 255);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 9;
  left: 50%;
  margin-left: 25px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.poptext {
  opacity: 1;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  opacity 1;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: "Iceland";
    font-size: 22px;
  }

  .navbar-header button.navbar-brand {
    text-align: left;
  }
}

.navbar-inverse {
  margin: 0 !important;
}

.guide {
background-color: rgb(0, 0, 0);
padding-left: 50px;
color: white;
font-size: 24px;
font-family: "Iceland", Times, serif;
text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.project-info {
    padding-bottom: 50px;
    padding-left: 50px;
    color: white;
    font-size: 24px;
    font-family: "Iceland", Times, serif;
    text-shadow: 1px 1px 1px rgb(0, 208, 255), 2px 2px 1px rgb(0, 0, 0);
}

.button {
  color: rgb(0, 0, 0);
}

@import "bootstrap";
