<h1>Satellites Above You<h1><br>
<% @satellites.each_with_index do |satellite, index| %>
<div id="satellites<%= index %>">
<p> Name: <%= satellite.satname %> ID: <%= satellite.satid %><p><br>
</div>
<% end %>